{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="mb-8">Configuración de Cuenta</h1>

<table class="w-full text-sm text-left text-gray-500">
    <tbody>
        <tr>
            <th scope="row" class="pt-4 pb-1 text-base font-bold text-gray-900">
                Correo electrónico
            </th>
            <td id="email-address" class="pt-4 pb-1 px-6">
                {% if user.email %}{{ user.email }}{% else %}Sin correo{% endif %}
            </td>
            <td class="pt-4 pb-1 px-6">
                <a id="email-edit" class="cursor-pointer font-medium text-blue-600 hover:underline"
                    hx-get="{% url 'profile-emailchange' %}"
                    hx-target="#email-address"
                    hx-swap="innerHTML" >
                    Editar
                </a>
            </td>
        </tr>
        <tr class="border-b">
            <th scope="row" class="pb-4 font-medium text-gray-900">  
            </th>
            <td class="px-6 pb-4">
                {% if user.emailaddress_set.first.verified %}
                <span class="text-green-500">Verificado</span>{% else %}
                <span class="text-amber-500">No verificado</span>
                {% endif %}
            </td>
            <td class="px-6 pb-4">
                <a href="{% url 'profile-emailverify' %}" class="font-medium text-blue-600 hover:underline">
                    {% if not user.emailaddress_set.first.verified %}Verificar{% endif %}
                </a>
            </td>
        </tr>

        <tr class="border-b">
            <th scope="row" class="py-4 text-base font-bold text-gray-900">
                Eliminar Cuenta
            </th>
            <td class="px-6 py-4">
                Una vez eliminada, la cuenta se perderá permanentemente.
            </td>
            <td class="px-6 py-4">
                <a href="{% url 'profile-delete' %}" class="font-medium text-red-600 hover:underline">
                    Eliminar
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}